* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
    border-radius: 50%;
}
.logo{
    font-weight: bolder;
    font-size: 32px;
}

.logo-a{
    color: #FD6E0A;
}
header {
    /* background-color: #dbbd7c; */
}
.button-style{
    background-color: #FD6E0A;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 22px;
    color: white;
}
.outline-button{
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #FD6E0A;
    font-weight: bold;
    font-size: 22px;
    color: #FD6E0A
}
.button-style:hover{
    background-color: rgb(0, 255, 42);
    transform: scale(1.2);
}

nav {

    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}
ul li a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.hero-parent-root{
        background-color: #f8f4f2;
       
}
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;

  
}
.hero-left h2{
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}
.hero-left h4{
    font-weight: 600;
    font-size: 30px;
}
.button{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.about{
   background-color: #f8f4f2;
   margin: 80px auto;
   border-radius: 10px;
   padding: 100px;
   text-align: center;
}
.about-element{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around
}
.about-element.box{
    background-color: #d3a98b;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}